In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = 'C:\\Users\\admin\\Downloads\\LetsUpgade\\Assignment\\Day 7\\general_data.csv'
df = pd.read_csv(filepath)

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [5]:
df.Age.mean()

36.923809523809524

# Hypothesis statement based on given dataset

__1. The average age of the Employees is less than 40.__

__2. The total count of Male Emplyees is more than Female Employees.__

__3. Employees who are not promoted from last 11 years is equal to 72.__

__4. Employees whose education field is 'Life Sciences" are greater than 50.__

__5. Employees who are working in Sales is equal to 90.__

__6. Less than 1000 employees left there job last year.__

__7. Employees whose Distance from home is more than 10 are equal to 198.__

__8. More than 670 employees are married.__

__9. Employees whose salary is more than 50,000 are more than 1500.__

__10. Employees whose working year more than 10 are less than 1000.__

__11. Count of employees who are working under current manager from 6 tears are equal to 289.__